@tailwind base;
html {
  scroll-behavior: smooth;
}
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply rounded-full border border-gray-200 px-6 py-2 text-xs uppercase tracking-widest text-gray-700 transition-all hover:border-green-500 hover:text-green-500 dark:border-[#242424] dark:text-gray-400 dark:hover:border-green-400/40 dark:hover:text-green-400/40;
  }

  .contactInput {
    @apply rounded-sm border-b border-[#242424] bg-gray-100 px-6 py-4 text-gray-500 placeholder-gray-500 outline-none transition-all autofill:bg-yellow-200 focus:border-green-500/40 focus:text-green-800 dark:border-[#494949] dark:bg-[#494949] dark:text-gray-400 dark:focus:text-green-500;
  }
}

/* .markdown code {
  display: block;
  white-space: pre-wrap;
} */

.markdown code.hljs {
  /* white-space: pre-wrap; */
  /* background-color: aquamarine; */
  width: 100%;
  /* max-width: 300px; */
}
